.header{
    background: var(--main-backgroun-color);
    border: 1px solid var(--border-color);
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
}
.header__logo{    
    padding-top: 24px;
    padding-bottom: 25px;
}
.header__logo--black{
    color: var(--logo-color-studio);
}
.header-menu__btn{
    margin-left: auto;
    background-color: inherit;
    &:hover .header-menu__icon,
    &:focus .header-menu__icon {
        fill: var(--accent-color);
    }
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        overflow-y: auto;
    }
}

.mob-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mob-menu__icon {}

.mob-menu__list {
}

.mob-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__link {
    @include font(40px, null, 500, 1.18, 0.02em, null);
    color: inherit;
}

.mob-connect {
    margin-bottom: 64px;
}

.mob-connect__item {
    &:not(:last-child) {
            margin-bottom: 32px;
        }
}

.mob-connect__link {
    display: block;
    color: var(--second-text-color);
    @include font(24px, null, 500, 1.17, 0.02em, null);
}
.mob-connect__link--accent{
    color: var(--accent-color);
    @include font(34px, null, 500, 1.18, 0.02em, null);
}

.mob-soc {
    display: flex;
    justify-content: space-between;
}

.mob-soc__item {}

.mob-soc__link {
    color: var(--accent-color);
    @include font(18px, null, 500, 1.22, 0.02em, center);
}

.navigation{
    @media screen and (max-width: 767.98px) {
        display: none;
    }
}
.menu-list{
    margin-left: 93px;
    display: flex;
}
.menu-list__item{
    position: relative;
    &:not(:first-child){
        margin-left: 50px;
    }
}
.menu-list__link.current{
    color: var(--accent-color);
    &::after{
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 4px;  
        background: var(--accent-color);
        border-radius: 2px;
    }
}
.menu-list__link{
    @include font(null, null, 500, 1.14, 0.02em, inherit);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.connect-list{
    display: flex;
    margin-left: auto;
    @media screen and (max-width: 767.98px) {
            display: none;
        }
}
.connect-list__item {
    &:not(:first-child){
    margin-left: 50px;
    }
}
.connect-list__link{
    @include font(null, null, 500, 1.14, 0.02em, var(--second-text-color), null);
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.connect-list__icon{
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    fill: currentColor;
    transition: var(--transition);
    transition-property: fill;
    .connect-list__link:hover &,
    .connect-list__link:focus &{
        fill: var(--accent-color);
    }
}