.footer{
    background: var(--second-backgroun-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}
.footer-wrapper{
    @media screen and (max-width: 1199.98px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content:space-between;
    }
}
.footer-block{
    display: block;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        width: 50%;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        display: inline-block;
        width: auto;
    }
}
.footer__logo{
    margin-bottom: 20px;
}
.footer__logo--white{
    color: var(--backgroun-text-color);
}
.address{
    font-style: normal;
}
.address__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}
.address__link{
    display: flex;
    @include font(null, null, null, 1.71, 0.03em, var(--footer-link), null);
    @media screen and (max-width: 1199.98px) {    
    justify-content: center;
    }
}
.address__link--bold{
    color: var(--backgroun-text-color);
}
.social{
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        width: 50%;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}
.social__title{
    @include font(null, null, 700, 1.14, 0.03em, var(--main-backgroun-color), center);
    text-transform: uppercase;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
        @include font(null, null, null, null, null, null, left);
    }
}
.social__list {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }    
}
.social__item + .social__item {
    margin-left: 10px;
}
.social__link {
    background-color: rgba(255, 255, 255, 0.1);
}
.social__icon{
    fill: var(--backgroun-text-color);
}
.subscribe {
    margin-left: auto; 
    margin-right: 0;       
}
.subscribe__text {
    @include font(null, null, 700, 1.14, 0.03em, var(--main-backgroun-color), center);
    text-transform: uppercase;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
        @include font(null, null, null, null, null, null, left);
    }
}
.footer-form{
    @media screen and (min-width: 1200px) {        
    display: flex;
    }
}
.footer-form__input {
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    @include font( 16px, null, null, 1.25, 0.03em, var(--backgroun-text-color), null);
    padding-left: 16px;
    &::placeholder{
        @include font( 16px, null, null, 1.25, 0.03em, rgba(255, 255, 255, 0.6), null);
        display: flex;
        align-items: center;
    }
    @media screen and (max-width: 1199.98px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
    }    
}
.footer-form__icon{
    margin-left: 10px;
}
